DRIVER_SALT = b"A proper salt"

DATABASE = {
    "main": {
        'host': 'db_host',
        'user': 'db_username',
        'password': 'db_password',
        'db': 'db_name'
    }
}

HOST = '0.0.0.0'
PORT = 8888

FILE_DIR = '../files/'